:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow: auto;
}

html, 
body,
#root {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 0;
}